<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description"
            content="Extract or scan text from images in multiple languages- English Hindi Nepali etc. Quickly Get Text from Image">
        <title>Text Extractor Scan text from Image| OCR</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031"
            rel="stylesheet">
        <link rel='stylesheet'
            href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <script src="/static/error.js"></script>
        <link rel="shortcut icon" href="/static/assets/icons/TEXT.svg" type="image/x-icon">
    </head>


    <body class="bg-slate-50" style="font-family: 'Euclid Circular A', sans-serif;">
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                    <span class="ml-3 text-xl">OCR <i class="fi fi-rr-text"></i></span>
                </a>
                <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                    <a href="/" class="mr-5 cursor-pointer hover:text-gray-900"><i class="fi fi-rr-home"></i> Home</a>
                    <a href="https://www.facebook.com/sachhit.yadav" target="_blank"
                        class="mr-5 cursor-pointer hover:text-gray-900"><i class="fi fi-rr-user"></i> Creator</a>
                </nav>
                <a href="https://github.com/ASACHIT/OCR-django-app.git" target="_blank">
                    <button
                        class="inline-flex items-center py-1 px-3 rounded text-base mt-4 md:mt-0 bg-gray-100 duration-300 hover:shadow-lg">Github
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </button>
                </a>
            </div>


        </header>
        <!-- error popup modal -->
        {% if messages %}
        {% for msg in messages %}
        <div id="error-modal" class="flex animate-pulse w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg
       fixed left-8 top-8">
            <div class="flex items-center justify-center w-12 stroke-slate-900">
                <svg class="w-6 h-6 text-slate-800 fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z" />
                </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
                <div class="mx-3">
                    <span class="font-semibold text-slate-800 ">Error</span>
                    <p class="text-sm text-gray-600 ">{{msg}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- error popup modal -->

        <section class="text-gray-600">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1 class="sm:text-7xl text-2xl font-medium mb-4 text-gray-900">Text Extractor</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">Extract or Scan text from images</p>
                </div>


                <div class="container">
                    <div class="buttons">
                        <button id="upload-btn" onclick="document.getElementById('formFile').click()"
                            class="custom-btn shadow-md mb-2">Upload
                            Img <i class="fi fi-rr-upload"></i>
                        </button>
                        <form method="post" enctype="multipart/form-data" class="flex justify-center">
                            {% csrf_token %}
                            <input name="imagefile" re accept="image/*" type="file" id="formFile"
                                style="display: none;">
                            <button class="custom-btn shadow-md " disabled>
                                <select name="language" id="languages" class="bg-transparent">
                                    <option value="eng" selected>English</option>
                                    <option value="nep">Nepali</option>
                                    <option value="hin">Hindi</option>
                                </select>
                            </button>
                            <button type="submit" class="custom-btn shadow-md bg-white">Scan <i
                                    class="fi fi-rr-search"></i></button>
                        </form>
                    </div>
                </div>


                <!-- Uploaded image will be shown -->
                {% if image %}
                <div class="flex justify-center ease-out m-5 rounded-2xl duration-300 h-96">
                    <img class="justify-center rounded-2xl hover:scale-105 stroke-white stroke-2 duration-500"
                        src="data:image/png;base64, {{ image }}">
                </div>
                {% endif %}
                <!-- Uploaded image will be shown -->

                <!-- OCR text will be shown -->
                {% if ocr %}
                <div class=" ease-out bg-white text-slate-800 rounded-2xl hover:shadow-lg p-6 mt-3 duration-300 w-auto">
                    <p id="ocrtext" class="text-lg mt-2  mb-8 text-center ">{{ ocr }}</p>
                    <button id="copybtn" onclick="copy()" class="button">Copy Text
                        <i class="fi fi-rr-duplicate"></i>
                    </button>
                </div>
                {% endif %}
                <!-- OCR text will be shown -->
            </div>


        </section>
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
                    <img id="svgs" alt="feature" class="image-slide object-center h-3/4 w-3/4"
                        src="/static/assets/1.svg">
                </div>
                <!-- script to change svg change  -->
                <script>
                    console.log('image.js');
                    var i = 0;
                    var image = document.getElementById('svgs');
                    var images = ['/static/assets/1.svg', '/static/assets/2.svg', '/static/assets/3.svg',
                        '/static/assets/4.svg'
                    ];
                    setInterval(function () {
                        i++;
                        if (i >= 3) i = 0;
                        image.src = images[i];


                    }, 3000);

                </script>
                <!-- script to change svg change  -->
                <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                    <div class="flex flex-col mb-10 lg:items-start items-center">
                        <div
                            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-slate-300 text-slate-800 mb-5">
                            <i class="fi fi-rr-running icons"></i>
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Fast and Easy</h2>
                            <p class="leading-relaxed text-base">Tesseract tests the text lines to determine whether
                                they are fixed pitch. Where it finds fixed pitch text, Tesseract chops the words into
                                characters using the pitch, and disables the chopper and associator on these words for
                                the word recognition step.</p>
                            <a class="mt-3 text-slate-800 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col mb-10 lg:items-start items-center">
                        <div
                            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-slate-300 text-slate-800 mb-5">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                <circle cx="6" cy="6" r="3"></circle>
                                <circle cx="6" cy="18" r="3"></circle>
                                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                            </svg>
                        </div>
                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Accuracy</h2>
                            <p class="leading-relaxed text-base">Easily crop the text from images and copy it to
                                clipboard, And its Results are Highly Accurate</p>
                            <a class="mt-3 text-slate-800 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>

    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="/static/assets/icons/sachit.jpg" alt="" srcset=""
                    class="w-h-20 h-20 text-white p-2 stroke-slate-400 rounded-full">
                <span class="ml-3 text-xl">TEXT Extractor</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                Sachit Yadav
            </p>

            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500" href="https://www.facebook.com/sachhit.yadav" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500" href="https://www.instagram.com/sachhit_yadav/" target="_blank">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/sachit-yadav/" target="_blank">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>


</html>
